<!DOCTYPE html>
<html>
<head>
    <title>How To Eat This</title>
    <meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">


    <h1><i class="fas fa-paw"></i> ECC Dining Stats <i class="fas fa-paw"></i></h1>
    <br>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

     p,table{  box-shadow: 30px 30px 30px black;background-color: red;  font-weight:bold;border-width: 15px;border-color:black;border-style: double;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:28pt; color: black;margin-right:250px;text-align: left;margin-left:10%;margin-top:10%}
        h1{text-align: center;  background-color: #ff1700;font-family: 'Courier New', Courier, monospace ;}
        body, html,{background-color: lime;height: 100%;margin: 0;font-family: 'Courier New', Courier, monospace ;}
        .backGround{
           background-image: url("/images/trash.jpg");
            background-repeat: no-repeat;
            background-position-x: 60%;
            background-size: cover;
        }
    </style>
</head>
<body class="backGround">
   


<table id="Current Ratings">
  <thead>
  <tr><th>Quality of Service</th><th>Speed of Service</th><th>Quality of Food</th><th>How Busy is the Hall?</th></tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr><td> {{ service }}</td>
          <td> {{ speed }}</td>
          <td> {{ food }}</td>
          <td> {{ busy }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>

<table id="Crim Stats">
  <thead>
  <tr><th>Username</th><th>Reported</th><th>Comment</th></tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr><td> {{ username }}</td>
          <td> {{ published }}</td>
          <td> {{ comment }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>